  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 ">

      <div class="wrapper-registration">

        <h2>Nouveau ?<br>Créez votre compte !</h2>
        <p>Gardez une trace de vos coups de coeur et partagez-les!</p>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: "email",label: false %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "mot de passe", label: false%>
            <%= f.input :password_confirmation, required: true, placeholder: "Confirmez votre mot de passe", label: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "S'enregistrer", class: "btn btn-primary" %>
            <p>



            </p>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>

