<h1 class="text-center">Voici les articles de votre look préféré :</h1>
  <h5 class="text-center">Affichage de <%= @products.length %> articles sur <%= @total %> trouvés</h5>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form method="get">
        <h4>Vos looks</h4>
        <% @looks_name.each do |l| %>
        <h5><strong><%= l %></strong></h5>
        <% end %>
        <p>
        <%= link_to looks_path, style: "font-size: 12px" do %>
        <div class="change"><em>Changer de look</em></div>
        <% end %>
        </p>

        <% @looks.each do |key,value| %>
          <%= hidden_field_tag "looks[#{key}]", value %>
        <% end %>
        <%= hidden_field_tag "query", params[:query] %>
        <hr>
        <h4>Categories</h4>
        <select name="category" style="width: 100%" class="form-control">
          <option value=""></option>
          <% @categories.each do |category| %>
            <option value="<%= category %>" <%= 'selected="selected"' if category == params[:category] %>><%= category.capitalize %></option>
          <% end %>
        </select>
        <hr>
        <h4>Couleurs</h4>
        <select name="color" style="width: 100%" class="form-control">
          <option value=""></option>
          <% @colors.each do |color| %>
            <option value="<%= color %>" <%= 'selected="selected"' if color == params[:color] %>><%= color.capitalize %></option>
          <% end %>
        </select>
        <hr>
        <h4>Tailles</h4>
        <select name="size" style="width: 100%" class="form-control">
          <option value=""></option>
          <% %w{S M L XL XXL XXXL}.each do |s| %>
              <option value="<%= s %>" <%= 'selected="selected"' if s == params[:size] %>><%= s %></option>
          <% end %>
        </select>
      </form>
    </div>
    <div class="col-md-9">
      <% @products.each do |p| %>
          <div class="col-xs-12 col-md-4">
            <div class="card-product">
              <%= image_tag p.image%>
              <div class="card-title">
                <%= p.title_short %>
              </div>
              <div class="card-price">
                <p><%= p.offers.first.price %>€</p>
              </div>
              <%= link_to product_path(p), class: 'card-detail'  do %>
                  <i class='fa fa-info-circle'> </i>
              <% end %>
              <%= link_to "Voir l'offre chez #{p.best_offer.supplier}", p.best_offer.link,  class: 'btn  btn-danger btn-block card-cta', target: 'blank'%>
            </div>
          </div>
      <% end %>
      <h4 class="text-center"><%= paginate @products %></h4>
     </div>
      <% if @products.length > 0 %>
        <div class="row">
          <div class="text-center">
            <p><%= link_to 'Choisir un autre look', looks_path, :class => 'btn btn-danger' %>
              <%= link_to 'Voir tous les produits', products_path, :class => 'btn btn-danger' %>
            </p>
          </div>
        </div>
      <% end %>
        </div>
</div>

<% content_for :after_js do %>
    <script>
      $('select').on('change', function() {
        $(this).siblings('select').val('');
        $(this).parent('form').submit();
      });
    </script>
<% end %>
